<h1 class="font-['Pacifico'] text-5xl focus:outline-none text-center mb-12">
    <span class="text-[#d877aa]">Tic</span> <span class="text-[#f59771]">Tac</span> <span class="text-[#f7acd3]">Go</span>
</h1>