<div class="relative w-12 h-12">
 <div class="absolute inset-0 flex items-center justify-center">
    <div class="w-9 h-9 rounded-full border-3 border-yellow-300"></div>
  </div>
</div>

@code {
    [Parameter]
    public string? Width { get; set; }
    public string? Height{ get; set; }
}