@using UI.Models

<div class="bg-gradient-to-r from-violet-900 to-purple-900 pt-20">
  <div class="w-64 mx-auto flex justify-between h-28">
    <img src="icons/star.svg" alt="win star" class="self-end"/>
    <img src="icons/star.svg" alt="win star"/>
    <img src="icons/star.svg" alt="win star" class="self-end"/>
  </div>

  <PlayerCard Player="@Winner"/>

  <h1 class="text-center text-white text-3xl font-medium mt-8 ">Congratulations!</h1>

  <h2 class="text-yellow-300 text-center text-xl font-medium mt-4">You've Won</h2>
</div>

@code {

  [Parameter]
  public required Player Winner { get; set; }

}