<div class=" flex items-center justify-center w-12 h-12 relative">
    <span class="w-2 h-full bg-red-600 transform rotate-45 absolute"></span>
    <span class="w-2 h-full bg-red-600 transform -rotate-45 absolute"></span>
</div>

@code {
    [Parameter]
    public string? Width { get; set; }
    public string? Height{ get; set; }
}