@page "/game"

<div class="bg-gradient-to-r from-violet-900 to-purple-900 h-screen flex flex-col justify-around items-center p-20">
    <div class="container">
        <div></div>
        <div></div>
    </div>
    <div>
        
    </div>
</div>