@page "/game";
@using TicTacGo.Enums

<div class="bg-gradient-to-r from-indigo-800 to-indigo-900">
    <h1>This is my game blazor component</h1>
    <GameGrid GridCells="@ActiveCells" />
</div>

@code {
    public Marks[] ActiveCells = new Marks[] { Marks.X, Marks.NotSet, Marks.O,Marks.NotSet,Marks.NotSet,Marks.O,Marks.X,Marks.O,Marks.NotSet };
}