@page "/join"

@inject NavigationManager Navigation

<PageTitle>TicTacGo | Join game</PageTitle>

<div class="">
  <h1 class="font-['Pacifico'] text-5xl focus:outline-none text-center mb-12">
    <span class="text-[#d877aa]">Join</span> <span class="text-[#f59771]">Game</span>
  </h1>

  <div class="flex flex-col mb-4">
    <label class="font-['Quicksand'] text-slate-200 mb-1.5 font-semibold" for="game-code">Enter game code</label>

    <input
      class="text-4xl text-amber-400 bg-slate-900 font-bold rounded py-2 px-4 tracking-widest uppercase focus:border-amber-500 focus:ring-amber-500 focus:shadow-none"
      type="text"
      id="game-code"
      maxlength="6"
      @oninput="e => HandleGameCodeInputChange(e.Value?.ToString())"/>
  </div>


  <button
    @onclick="@Join"
    class="w-full inline-block font-['Quicksand'] text-xl text-center text-slate-200 p-2 border border-white rounded-r-full rounded-l-full disabled:opacity-70 cursor-pointer"
    disabled="@_joinGameIsDisabled">
    Join Game
  </button>
</div>

@code {
  private string? GameCode { get; set; } = string.Empty;
  private bool _joinGameIsDisabled = true;

  private void HandleGameCodeInputChange(string? gameCode)
  {
    if (string.IsNullOrEmpty(gameCode))
    {
      _joinGameIsDisabled = true;
    }
    else
    {
      GameCode = gameCode;
      _joinGameIsDisabled = false;
    }

    InvokeAsync(StateHasChanged);
  }

  private void Join()
  {
    if (!string.IsNullOrEmpty(GameCode))
    {
      Navigation.NavigateTo($"/game/{GameCode?.ToLower()}/join", new NavigationOptions
      {
        HistoryEntryState = "Navigation state"
      });
    }
  }

}