@using UI.Models
<div class="pt-20">
    <div class="w-64 mx-auto flex justify-between h-28 mb-12">
        <svg width="70" height="67" viewBox="0 0 70 67" class="self-end fill-amber-400" xmlns="http://www.w3.org/2000/svg">
            <path d="M65 22.5C68.25 23 69.5 27 67.125 29.375L54 42.25L57.125 60.375C57.625 63.625 54.125 66.125 51.25 64.625L35 56L18.625 64.625C15.75 66.125 12.25 63.625 12.75 60.375L15.875 42.25L2.75 29.375C0.375 27 1.625 23 4.875 22.5L23.25 19.875L31.375 3.25C32.875 0.25 37.125 0.375 38.5 3.25L46.75 19.875L65 22.5ZM47.5 40.125L60.125 27.875L42.75 25.375L35 9.625L27.125 25.375L9.75 27.875L22.375 40.125L19.375 57.375L35 49.25L50.5 57.375L47.5 40.125Z"/>
        </svg>

        <svg width="90" height="87" viewBox="0 0 70 67" class="fill-amber-400" xmlns="http://www.w3.org/2000/svg">
            <path d="M65 22.5C68.25 23 69.5 27 67.125 29.375L54 42.25L57.125 60.375C57.625 63.625 54.125 66.125 51.25 64.625L35 56L18.625 64.625C15.75 66.125 12.25 63.625 12.75 60.375L15.875 42.25L2.75 29.375C0.375 27 1.625 23 4.875 22.5L23.25 19.875L31.375 3.25C32.875 0.25 37.125 0.375 38.5 3.25L46.75 19.875L65 22.5ZM47.5 40.125L60.125 27.875L42.75 25.375L35 9.625L27.125 25.375L9.75 27.875L22.375 40.125L19.375 57.375L35 49.25L50.5 57.375L47.5 40.125Z"/>
        </svg>

        <svg width="70" height="67" viewBox="0 0 70 67" class="self-end fill-amber-400" xmlns="http://www.w3.org/2000/svg">
            <path d="M65 22.5C68.25 23 69.5 27 67.125 29.375L54 42.25L57.125 60.375C57.625 63.625 54.125 66.125 51.25 64.625L35 56L18.625 64.625C15.75 66.125 12.25 63.625 12.75 60.375L15.875 42.25L2.75 29.375C0.375 27 1.625 23 4.875 22.5L23.25 19.875L31.375 3.25C32.875 0.25 37.125 0.375 38.5 3.25L46.75 19.875L65 22.5ZM47.5 40.125L60.125 27.875L42.75 25.375L35 9.625L27.125 25.375L9.75 27.875L22.375 40.125L19.375 57.375L35 49.25L50.5 57.375L47.5 40.125Z"/>
        </svg>
    </div>

    <PlayerCard Player="@Winner"/>

    <h1 class="font-['Quicksand'] text-center text-slate-200 text-3xl font-medium mt-8 font-semibold">Congratulations!</h1>

    <h2 class="font-['Quicksand'] text-amber-400 text-center text-xl font-medium mt-4 font-semibold">You Win</h2>
</div>

@code {

    [Parameter]
    public required Player Winner { get; set; }

}